<div class="col">
  <div class="card h-100">
    <img src="{{cover}}" class="card-img-top" alt="{{name}}">
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">{{summary}}</p>
      <a href="{{url}}" class="btn btn-primary">Learn More</a>
    </div>
  </div>
</div>