<div class="col-md-3">
  <div class="card h-100">
    <a href="/games/{{id}}"><img
        src="{{cover}}"
        class="card-img-top"
        alt="{{name}}"
      /></a>
    <div class="card-body">
      <a href="/games/{{id}}"><h5 class="card-title">{{name}}</h5></a>
      <p class="card-text">{{summary}}</p>
      <a href="{{url}}" class="btn btn-primary">Learn More</a>
    </div>
  </div>
</div>