{{#if cover}}
<a href="/games/{{id}}"><img src="{{cover}}"/></a><br>
{{else}}
<a href="/games/{{id}}">{{name}}</a><br>
{{/if}}

<a href="{{url}}" target="_blank">Link to IGDB Page</a><br>

{{#if release_date}}
<p>Release Date: {{formatReleaseDate release_date}}</p><br>
{{else}}
<p>Release Date: Not Available</p><br>
{{/if}}

